.jumbotron {
  background-color: orange;
  color: green;
  text-align: center;
}

.container {
  border: 2px dotted brown;
}

.left {
  float: left;
  border: 1px solid red;
  width: 30%;
}

.right {
  float: right;
  border: 1px dashed blue;
  width: 65%;
}
